/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* Admin Home Page */
.flexia-core-admin-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 99%;
}
.flexia-core-admin-wrapper .flexia-core-admin-header {
	width: 100%;
	margin-bottom: 15px;
	padding: 20px 20px;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-core-admin-wrapper .flexia-core-admin-header .title {
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
	margin: 0px;
}
.flexia-core-admin-wrapper .flexia-core-content {
	width: 70%;
	height: auto;
}
.flexia-core-admin-wrapper .flexia-core-sidebar {
	width: 28.5%;
	height: auto;
}
.flexia-core-admin-widget,
.flexia-core-sidebar-widget {
	padding: 10px 20px;
	background: #fff;
	margin-bottom: 25px;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-core-admin-wrapper .flexia-core-admin-footer {
	width: 100%;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-plugins {
	width: 23%;
	float: left;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
	margin-bottom: 25px;
}
.flexia-plugins .header {
	width: 100%;
	height: 120px;
	overflow: hidden;
}
.flexia-plugins .header img {
	max-width: 100%;
}
.flexia-plugins .content {
	height: 155px;
	font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 26px;
	padding: 15px 20px;
}
.flexia-plugins .content .title {
	padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}
.flexia-plugins .content .by-author a {
	text-decoration: none;
}
.flexia-plugins .footer {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	background: #f7f7f7;
	border-top: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-plugins .footer .footer-left {
	width: 70%;
}
.flexia-plugins .footer .footer-right {
	width: 25%;
}
.flexia-plugins .footer .footer-left ul {
	padding: 0px;
	margin: 0px;
}
.flexia-plugins .footer .footer-left ul li {
	display: inline;
}
.flexia-plugins .footer .footer-left ul li:last-child {
	padding-left: 10px;
}
.flexia-plugins .footer .footer-left ul li a {
	line-height: 25px;
	text-decoration: none;
}
.flexia-plugins .footer .footer-left ul li a:hover {
	text-decoration: underline;
}
.flexia-plugins .footer .footer-right {
	text-align: right;
}
.flexia-plugins .footer .footer-right .tag-free {
	display: inline-block;
	background: #00C853;
	padding: 5px 15px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	font-weight: 600;
}
.flexia-plugins .footer .footer-right .tag-pro {
	display: inline-block;
	background: #651FFF;
	padding: 5px 15px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	font-weight: 600;
}