/**
 * Admin styles
 */

.flexia-core-admin-wrapper {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	flex-direction: row;
	padding: 15px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
	display: flex;
	align-content: center;
	align-items: center;
}
.flexia-logo-inline {
	width: 36px;
	padding-right: 10px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header p {
	border-left: 1px solid rgba(0,0,0, .5);
	padding-left: 10px;
}
.flexia-core-admin-wrapper .flexia-core-admin-header .title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	margin: 0px;
	color: #444;
	flex: 0 0 265px;
	padding-right: 10px;
}
.flexia-core-sidebar-widget .title {
	font-size: 17px;
	margin: 0.5em 0 1em;
}
.flexia-core-sidebar-widget p {
	font-size: 14px;
}
.flexia-core-admin-wrapper .flexia-core-content {
	width: 70%;
	height: auto;
}
.flexia-core-admin-wrapper .flexia-core-sidebar {
	width: 28.5%;
	height: auto;
}
.flexia-core-admin-widget,
.flexia-core-sidebar-widget {
	padding: 15px;
	background: #fff;
	margin-bottom: 25px;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-core-admin-wrapper .flexia-core-admin-footer {
	width: 100%;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-plugins-wrapper {
	display: flex;
	flex-flow: row wrap;
}
.flexia-preview-img {
	width: 100%;
}
.flexia-plugins {
	max-width: calc( 25% - 10px );
	min-width: 260px;
	flex: 1 1 auto;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
	margin-right: 10px;
	margin-bottom: 25px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}
.flexia-plugins:last-child,
.flexia-plugins:nth-child(4n) {
	margin-right: 0px;
}
.flexia-plugins .header {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.flexia-plugins .header img {
	max-width: 100%;
}
.flexia-plugins .content {
	height: auto;
	font-size: 14px;
    font-weight: 400;
    color: #777;
    line-height: 26px;
	padding: 15px 20px;
}
.flexia-plugins .content .title {
	padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #333;
    line-height: 1.4;
}
.flexia-plugins .content .by-author a {
	text-decoration: none;
}
.flexia-plugins .footer {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	background: #f7f7f7;
	border-top: 1px solid rgba( 0,0,0,0.1 );
}
.flexia-plugins .footer .footer-left {
	width: 70%;
}
.flexia-plugins .footer .footer-right {
	width: 25%;
}
.flexia-plugins .footer .footer-left ul {
	padding: 0px;
	margin: 0px;
}
.flexia-plugins .footer .footer-left ul li {
	display: inline;
}
.flexia-plugins .footer .footer-left ul li:last-child {
	padding-left: 10px;
}
.flexia-plugins .footer .footer-left ul li:first-child {
	padding-left: 0px;
}
.flexia-plugins .footer .footer-left ul li a {
	line-height: 25px;
	text-decoration: none;
}
.flexia-plugins .footer .footer-left ul li a:hover {
	text-decoration: underline;
}
.flexia-plugins .footer .footer-right {
	text-align: right;
}
.flexia-plugins .footer .footer-right .tag-free {
	display: inline-block;
	background: #02CC7B;
	padding: 5px 15px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.flexia-plugins .footer .footer-right .tag-pro{
	display: inline-block;
	background: #651FFF;
	padding: 5px 15px;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}

.notice.flexia-usage-notice {
	display: flex;
	align-content: center;
	align-items: center;
}
.flexia-usage-notice-img .flexia-logo-inline {
	width: 50px;
	display: block;
}

/* Media Quires */
@media only screen and (max-width: 480px) {
	.flexia-plugins-wrapper {
		flex-flow: column wrap;
	}
	.flexia-plugins {
		max-width: 100%;
		margin-right: 0px;
	}
}
@media only screen
	and (min-device-width: 768px)
  	and (max-device-width: 1024px) {

	.flexia-plugins {
		max-width: calc( 50% - 20px );
		margin-right: 20px;
	}
	.flexia-plugins:nth-child(2n) {
		margin-right: 0px;
	}
}

/* Customizer Styles */

#customize-control-flexia_core_header_script .CodeMirror-wrap, #customize-control-flexia_core_footer_script .CodeMirror-wrap {
	width: 100%;
	height: -webkit-calc(100vh - 200px);
	height: calc(100vh - 200px);
}

#customize-control-flexia_core_header_script .customize-control-title, #customize-control-flexia_core_footer_script .customize-control-title {
	font-size: 12px;
	font-weight: lighter;
}

/* Metabox Styles */
.flexia-core-metabox-wrapper {
	width: 100%;
	height: auto;
}
.flexia-core-metabox-wrapper .flexia-core-metabox-row {
	display: flex;
	flex-flow: flex-start;
	padding: 15px 0px 15px 10px;
	border-bottom: 1px solid rgba( 0,0,0,0.05 );
}
.flexia-core-metabox-wrapper .flexia-core-metabox-row .flexia-core-metabox-left,
.flexia-core-metabox-wrapper .flexia-core-metabox-row .flexia-core-metabox-right {
	flex: 1 1 auto;
}
.flexia-core-metabox-wrapper .flexia-core-metabox-row .flexia-core-metabox-left {
	flex-basis: 25%;
}
.flexia-core-metabox-wrapper .flexia-core-metabox-row .flexia-core-metabox-left label {
	font-weight: 600;
}
.flexia-core-metabox-wrapper .flexia-core-metabox-row .flexia-core-metabox-right {
	flex-basis: 75%;
}
.flexia-hide-metabox {
	display: none !important;
	background-color: rgba( 0,0,0,0.45 );
	transition: all 0.3s ease-in-out;
}
.flexia-show-metabox {
	display: flex !important;
	/*background-color: rgba( 255,255,255,1 );*/
	background-color: #f7f7f7;
	transition: all 0.3s ease-in-out;
}